<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gnoj_Ham_View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gnoj_Ham_View.Properties.Settings>
            <setting name="DefaultPlayerName" serializeAs="String">
                <value>Lpi</value>
            </setting>
            <setting name="CpuSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoCallMahjong" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChronoSpeed" serializeAs="String">
                <value>0</value>
            </setting>
        </Gnoj_Ham_View.Properties.Settings>
    </userSettings>
</configuration>